* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "jost";
}

h2 {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  /* color: #fff; */
  text-shadow: 2px, 2px, 5px, #000;
}

p {
  font-size: 20px;
  /* color: #fff; */
}
